@import "tailwindcss";
@import "rc-slider/assets/index.css";
/* index.css or global.css */
/* index.css */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* in your CSS or Tailwind config */
/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
